body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

/* logo */
.logo svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.logo svg polyline#back {
  fill: none;
  stroke: #e81cff89;
}

.logo svg polyline#front {
  fill: none;
  stroke: #00ffff;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 2s linear infinite;
  animation-delay: 0s;
}

.logo svg polyline#front2 {
  fill: none;
  stroke: #00ffff;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 2s linear infinite;
  animation-delay: 1s;
}
/* Mauladi */
@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}
.logo svg {
  height: 48px;
  width: 100px;
  transform-origin: center;
  animation: scaleLogo 1.5s forwards;
  margin-left: 1.5px;
  margin-top: -150px;
  transform: scale(3.5);
  position: absolute;
}

/* picikan materi*/
.button1 {
  position: absolute;
  width: 310px;
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: -160px;
  margin-top: 100px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}

.button1::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 318px;
  height: 68px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff89 0%, #40c9ffc7 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button1:hover::before {
  filter: blur(50px);
}

.button1:active::before {
  scale: 0.7;
}
/* picikan materi */

/* picikan quiz */
.button2 {
  position: absolute;
  width: 310px;
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: -10px;
  margin-top: 520px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}

.button2::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 318px;
  height: 68px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff89 0%, #40c9ffc7 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button2:hover::before {
  filter: blur(50px);
}

.button2:active::before {
  scale: 0.7;
}
/* contact */
.contact {
  color: aliceblue;
  font-size: 20px;
  position: absolute;
  top: 17px;
  right: 40px;
  font-family: monospace;
  font-weight: bold;
  background-color: #000;
  border: none;
  cursor: pointer;
}
.contact:hover {
  text-decoration: underline;
  font-weight: bold;
}
.tempat,
.muhammad {
  position: absolute;
  margin-top: -380px;
  margin-left: -428px;
}
.warna_kotak {
  width: 408px;
  height: 408px;
  background: linear-gradient(-45deg, #e81cff89 0%, #40c9ffc7 100%);
  position: absolute;
  border-radius: 10px;
}
.latar_hitam {
  width: 408px;
  height: 408px;
  background-color: #000;
  position: absolute;
  border-radius: 10px;
}
.hitam_utama {
  background-color: #000;
  height: 400px;
  width: 400px;
  position: absolute;
  margin-top: 3.5px;
  margin-left: 3.5px;
  border-radius: 10px;
}
.tulisan {
  color: #fff;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
}
.btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 370px;
  margin-top: -11px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff89 0%, #40c9ffc7 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn::after {
  content: "";
  z-index: 100;
  position: absolute;
  inset: -1;
  background: linear-gradient(-45deg, #e81cff89 0%, #40c9ffc7 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.btn:hover {
  background-color: red;
}
.login {
  color: aliceblue;
  font-size: 20px;
  position: absolute;
  top: 25px;
  right: 165px;
  font-family: monospace;
  font-weight: bold;
  background-color: #000;
  border: none;
}
.login:hover {
  text-decoration: underline;
  font-weight: bold;
}
/* id name */
.inputbox {
  position: absolute;
  width: 260px;
  font-family: monospace;
  margin-left: 70px;
  margin-top: 40px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  font-family: monospace;
  font-weight: bold;
  font-size: large;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: black;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(-45deg, #e81cff89 0%, #40c9ffc7 100%);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

/* password */
.password {
  position: absolute;
  width: 260px;
  font-family: monospace;
  margin-left: 70px;
  margin-top: 130px;
}

.password input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  font-family: monospace;
  font-weight: bold;
  font-size: large;
}

.password span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.password input:valid ~ span,
.password input:focus ~ span {
  color: black;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.password i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(-45deg, #e81cff89 0%, #40c9ffc7 100%);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.password input:valid ~ i,
.password input:focus ~ i {
  height: 44px;
}
/* btn login */
.btnlog {
  position: absolute;
  background: linear-gradient(-45deg, #e81cff89 0%, #40c9ffc7 100%);
  width: 300px;
  height: 40px;
  border-radius: 10px;
  margin-top: 300px;
  margin-left: 55px;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btnlog:active {
  scale: 0.9;
}
/* anda belum buat akun */
.akun {
  position: absolute;
  color: #fff;
  margin-left: 68px;
  font-size: 13px;
  display: flex;
  gap: 8px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 350px;
}
.bglp {
  width: 1920px;
  height: 1080px;
  position: fixed;
  z-index: -100;
  margin-left: 100px;
  margin-top: 0px;
}
.sound_bglp {
  position: absolute;
}
#audio_button {
  position: absolute;
  width: 40px;
  height: 45px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: -1380px;
  margin-top: -625px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}
#audio_button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 48px;
  height: 52px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff89 0%, #40c9ffc7 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
